{{template "head"}}
<table>
    <th>URL</th><th>Started</th><th>Downloaded</th><th>Uploaded</th><th>Retries</th><th>IP</th>
    {{range .}}
    <tr>
        <td><a href="/detail/{{.ID}}/">{{.URL}}</a></td>
        <td>{{ago .StartedAt}}</td>
        <td>{{if .DownloadedAt}}{{ago .DownloadedAt}}{{end}}</td>
        <td>{{if .UploadedAt}}{{ago .UploadedAt}}{{end}}</td>
        <td>{{.Retries}}</td>
        <td>{{if .IP}}{{.IP}}{{if .Country}} ({{.Country}}){{end}}{{end}}</td>
    </tr>
    {{end}}
</table>
{{template "foot"}}