{{template "head"}}
<table border="1">
    <tr>
        <th align="center">URL</th>
        <th align="center">Started</th>
        <th align="center">Retries</th>
        <th align="center">IP</th>
        <th align="center">Error</th>
    </tr>
    {{range .}}
    <tr valign="top">
        <td align="left"><a href="/detail/{{.ID}}/">{{.URL}}</a></td>
        <td align="left">{{ago .StartedAt}}</td>
        <td align="right">{{.Retries}}</td>
        <td align="left">{{if .IP}}{{.IP}}{{if .Country}} ({{.Country}}){{end}}{{end}}</td>
        <td align="left">{{.Error}}</td>
    </tr>
    {{end}}
</table>
{{template "foot"}}